*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}


body{
    background-color: rgb(5, 5, 5);
    min-height: 100vh;;
}


.top-page{
    min-height: 100vh;
}


.container{
    background: url(images/background.jpg);
    background-size: cover;
    height: 100vh;
    opacity: 0.8;
}


.logo{
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}


.logo img{
    height: 5rem;
    margin-left: 3rem;
}


.logo p{
    background: linear-gradient(to left, rgb(241, 232, 92), rgb(255, 89, 69));
    border-radius: 30px;
    padding: 0.8rem 1.4rem;
    text-transform: capitalize;
    word-spacing: 0.2rem;
    margin-bottom: 5px;
    margin-right: 3rem;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

.logo p i{
    display: none;
    padding-left: 2rem;
}

.logo p:hover i{
    display: inline-block;
}


.logo p:hover{
    padding-right: 3rem;
    transition: 1s;
}


.nav{
    text-transform: uppercase;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    opacity: 80%;
}


.nav ul{
    display: flex;
    list-style: none;
}


.nav ul li{
    cursor: pointer;
    padding: .5rem 2.5rem;
    font-weight: 900;
    text-align: center;
}


.nav ul a{
    text-decoration: none;
    color: black;
}


.nav ul li:hover{
    border-radius: 60px;
    transition: 1s;
    background-color: rgb(128, 128, 128, 0.4);
}


.quotes{
    width: 75%;
    margin: 10rem auto;
    background-color: rgba(28, 28, 29, 0.3);
    border-radius: 9px;
    padding: 0 0 1rem 0;
}


.quotes h3{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: aliceblue;
}


.quotes p{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    margin-top: 2rem;
    font-weight: 800;
}


.second-page{
    padding: 0 0 5rem 0;
    background-color: darkgray;
}


h3{
    font-size: 32px;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: azure;
}


.future-trips-photo{
    display: flex;
    width: 95%;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
}

.first_img_box, .second_img_box, .third_img_box{
    width: 30%;
    height: 25rem;
}  

.place-name{
    position: relative;
    top: 85%;
    margin: auto;
    font-size: 24px;
    color: antiquewhite;
    text-transform: uppercase;
    background-color: rgb(5, 5, 5, 0.4);
    width: fit-content;
    border-radius: 20px;
    padding: 2px 10px;
}

.banner1, .banner2, .banner3, .banner4{
    width: 30%;
    position: absolute;
}
.future-trips-photo img{
    height: 25rem;
    width: 93%;
    position: absolute;
    animation: fade-in 3s linear infinite;
    border-radius: 20px;
}

@keyframes fade-in{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.banner1{
    animation: slide1 12s linear infinite;
}
.banner2{
    animation: slide2 12s linear infinite;
}
.banner3{
    animation: slide3 12s linear infinite;
}
.banner4{
    animation: slide4 12s linear infinite;
}

@keyframes slide1{
    
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}


.third-page{
    padding-bottom: 5rem;
}

.teams-photo{
    display: flex;
    width: 95%;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
}

.teams-photo .team img{
    justify-content: space-between;
    border-radius: 5%;
    height: 400px;
    cursor: pointer;
    backface-visibility: hidden;
}

.back{
    text-align: center;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.teams-photo .team .front-face{
    backface-visibility: hidden;
}

.teams-photo .team .back-face img{
    height: 90px;
    display: flex;
    background: gray;
    border-radius: 50%;
    margin: 2rem 5.5rem;
}


.back-face{
    backface-visibility: hidden;
    background: gray;
    color: wheat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.team:hover .back{
    transform: rotateY(-180deg);
}

.fourth-page{
    padding: 2rem 0;
    background: url(images/ghale\ gaun/2.jpg);
    margin: auto;
    background-size: cover;
}

.fourth-page p{
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 2rem;
}

.form{
    width: 30%;
    border: 3px solid snow;
    margin: 1rem auto 3rem;
    border-radius: 30px;
    background-color: gray;
    padding: 2rem;
}

.form label{
    display: block;
    padding: 1rem 0 .3rem 1rem;
    font-size: 18px;
    font-weight: 900;
    color: aliceblue;
}

.form input{
    border: 2px solid black;
    border-radius: 30px;
    padding: .2rem 1rem;
    height: 2.5rem;
    width: 100%;
    background: none;
    color: rgb(57, 194, 240);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input::placeholder{
    color: aliceblue;
}

.form input:hover::placeholder{
    color: lightblue;
}

.form input:hover:focus::placeholder{
    color: rgb(57, 194, 240);
}

.form .btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.form button{
    width: 50%;
    background: transparent;
    border: 2px solid black;
    border-radius: 30px;
    height: 30px;
    margin-top: 3rem;
    color: aliceblue;
    text-transform: capitalize;
}

.form input:hover{
    border: 3px solid lightblue;
}

.form input:hover:focus{
    border: 3px solid rgb(57, 194, 240);
    outline: none;
}

.form button:hover{
    border: 3px solid lightblue;
    font-size: 16px;
    font-weight: 900;
    color: lightblue;
}

.form button:hover:focus{
    border: 3px solid rgb(57, 194, 240);
    outline: none;
    color: rgb(57, 194, 240);
    font-size: 16px;
    font-weight: 900;
}